<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940321983303-53n9joei3ng88jtghqdpvugfb7b3l5e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940321983303-53n9joei3ng88jtghqdpvugfb7b3l5e6</string>
	<key>API_KEY</key>
	<string>AIzaSyCHN_hzL0K-xsrO9NSWe6UfXg36XGmZAhs</string>
	<key>GCM_SENDER_ID</key>
	<string>940321983303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.authDemo.app</string>
	<key>PROJECT_ID</key>
	<string>fir-phoneauth-c35df</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-phoneauth-c35df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940321983303:ios:b35fc4ad35a9e91c521a62</string>
	<key>DATABASE_URL</key>
	<string>https://fir-phoneauth-c35df.firebaseio.com</string>
</dict>
</plist>